<!-- The current directive works, but there are ways it can be improved. 
  First, the files are not being validated, so it’s possible for the user
  to upload files of any size or format. It would be a good idea to throw
  an error if the file exceeds a maximum size or doesn’t match a certain format.
  Second, it would be useful to add a button that cancels the Firebase upload
  process if it hangs from a poor internet connection.
-->
<div *nfIf="currentUpload">
  <progress class="progress is-success" min=1 max =100 value="{{ currentUpload?.progress }}"></progress>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
<div class = "box">

  <h2>Drop File</h2>

  <div class= "dropzone"
    fileDrop
    (filesDropped)="handleDrop($event)"
    (filesHovered)="dropzoneState($event)"
    [ngClass]="{'active': dropzoneActive}">

    <i class="fa fa-cloud-upload fa-2x"></i>
  </div>
</div>